{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ task.strategy.name }} - {{ task.symbol.name }} &nbsp;
    {% if task.is_active %}
    <span class="label label-success">Strategy Active</span>
    {% else %}
    <span class="label label-danger">Strategy On Hold</span>
    {% endif %}
{% endblock %}

{% block css %}

{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-9">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0 m-b-30" id="comp-name"></h4>

            <div class="widget-chart text-center" >
                            <div id="combine-chart">
                                <div id="combine-chart-container" class="flot-chart" style="height: 320px;">
                                </div>
                            </div>

                <ul class="list-inline m-t-10">
                    <li style="width: 20%">
                        <h4 class="text-muted m-t-25">Now</h4>
                        <h3 class="m-b-0 text-danger" id="now"></h3>
                    </li>
                    <li style="width: 20%">
                        <h4 class="text-muted m-t-25">Change</h4>
                        <h3 class="m-b-0 text-danger" id="change"></h3>
                    </li>
                    <li style="width: 20%">
                        <h4 class="text-muted m-t-25">Previous Close</h4>
                        <h4 class="m-b-0" id="close"></h4>
                    </li>
                    <li style="width: 20%">
                        <h4 class="text-muted m-t-25">Open</h4>
                        <h4 class="m-b-0" id="open"></h4>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <div class="col-lg-3">
        <div class="card-box">
            <h4 class="text-dark header-title m-t-0 m-b-30">Market info</h4>

            <div class="widget-chart text-center">
                <ul class="list-inline m-t-15">
                    <li style="width: 40%">
                        <h4 class="text-muted m-t-25">Day's High</h4>
                        <h4 class="m-b-0" id="dayshigh"></h4>
                    </li>
                    <li style="width: 40%">
                        <h4 class="text-muted m-t-25">Day's Low</h4>
                        <h4 class="m-b-0" id="dayslow"></h4>
                    </li>

                </ul>
                <ul class="list-inline m-t-15">
                    <li style="width: 40%">
                        <h4 class="text-muted m-t-25">Year's High</h4>
                        <h4 class="m-b-0" id="yearshigh"></h4>
                    </li>
                    <li style="width: 40%">
                        <h4 class="text-muted m-t-25">Year's Low</h4>
                        <h4 class="m-b-0" id="yearslow"></h4>
                    </li>
                </ul>
                <ul class="list-inline m-t-15">
                    <li style="width: 40%">
                        <h4 class="text-muted m-t-25">Volume</h4>
                        <h4 class="m-b-0" id="volume"></h4>
                    </li>
                    <li style="width: 40%">
                        <h4 class="text-muted m-t-25">P/E Ratio</h4>
                        <h4 class="m-b-0" id="peratio"></h4>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-8">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0">Log goes here</h4>
            <div class="table-responsive">
                <table class="table" id="vuetable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Log info</th>
                        <th>Log type</th>
                        <th>Log time</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td id="info1"></td>
                            <td id="type1"></td>
                            <td id="time1"></td>
                        </tr>
                         <tr>
                            <td>2</td>
                            <td id="info2"></td>
                            <td id="type2"></td>
                            <td id="time2"></td>
                        </tr>
                         <tr>
                            <td>3</td>
                            <td id="info3"></td>
                            <td id="type3"></td>
                            <td id="time3"></td>
                        </tr>
                         <tr>
                            <td>4</td>
                            <td id="info4"></td>
                            <td id="type4"></td>
                            <td id="time4"></td>
                        </tr>
                         <tr>
                            <td>5</td>
                            <td id="info5"></td>
                            <td id="type5"></td>
                            <td id="time5"></td>
                        </tr>
                         <tr>
                            <td>6</td>
                            <td id="info6"></td>
                            <td id="type6"></td>
                            <td id="time6"></td>
                        </tr>
                         <tr>
                            <td>7</td>
                            <td id="info7"></td>
                            <td id="type7"></td>
                            <td id="time7"></td>
                        </tr>
                         <tr>
                            <td>8</td>
                            <td id="info8"></td>
                            <td id="type8"></td>
                            <td id="time8"></td>
                        </tr>
                         <tr>
                            <td>9</td>
                            <td id="info9"></td>
                            <td id="type9"></td>
                            <td id="time9"></td>
                        </tr>
                         <tr>
                            <td>10</td>
                            <td id="info10"></td>
                            <td id="type10"></td>
                            <td id="time10"></td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination text-center">
                                            <li class="disabled">
                                                <a href="#"><i class="fa fa-angle-left"></i></a>
                                            </li>
                                            <li class="active">
                                                <a href="#">1</a>
                                            </li>
                                            <li>
                                                <a href="#">2</a>
                                            </li>
                                            <li>
                                                <a href="#">3</a>
                                            </li>
                                            <li>
                                                <a href="#">4</a>
                                            </li>
                                            <li>
                                                <a href="#">5</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-angle-right"></i></a>
                                            </li>
                                        </ul>
            </div>
        </div>
    </div>
    <!-- end col -8 -->

    <div class="col-lg-4">
        <div class="card-box widget-user">
                {% if not task.is_active %}
                    <a type="button" href="switch/" class="pull-right btn btn-success btn-sm waves-effect w-md waves-light m-b-5">Start Strategy</a>
                {% else %}
                    <a type="button" href="switch/" class="pull-right btn btn-danger btn-sm waves-effect w-md waves-light m-b-5">Stop Strategy</a>
                {% endif %}
            <h4 class="m-t-0 m-b-5">Strategy Description</h4>

            <p class="text-muted m-b-5 font-13">{{ task.strategy.introduction }}</p>
        </div>
{#        <button id="updatelog">#}
{#            I update object 12345#}
{#        </button>#}

    </div>

</div>

<!-- end row -->

{% endblock %}

{% block js %}
    <!-- Notification js -->
<script src="{% get_static_prefix %}/plugins/notifyjs/dist/notify.min.js"></script>
<script src="{% get_static_prefix %}/plugins/notifications/notify-metro.js"></script>
<script>
$(document).ready(function(){

    function refresh(){
        function getLog(){
            $.ajax({
                type: "GET",
                dataType: "json",
                url: 'updateinfo/',
                success: function (data) {
                    for(var i=0; i<=10; i++){
                        $('#time'+i).text(data[i].log_time);
                        $('#info'+i).text(data[i].log_info.info);
                        $('#type'+i).replaceWith("<td id=\"type"+i+"\"><span class=\"label label-info\">" + data[i].log_type + "<\/span><\/td>");
                    }
                            {% if task.is_active %}
                   $.Notification.autoHideNotify('success', 'bottom left', 'New log updated','');
                     {% endif %}
                }
            });
        }
        {% if task.is_active %}
        var interval = setInterval(getLog,5000);
        {% endif %}
        getLog();
    }
    refresh();

    function getMarketData(){
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.quotes%20where%20symbol%20in%20(%22{{ task.symbol }}%22)&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys",
            success: function(data) {
                var quote = data.query.results.quote;
                console.log(quote);
                $("#comp-name").text(quote.Name);
                $("#open").text("$"+quote.Open);
                $("#close").text("$"+quote.PreviousClose);
                $("#now").text("$"+quote.LastTradePriceOnly);
                $("#change").text(quote.Change + " | " + quote.ChangeinPercent);
                $("#dayshigh").text(quote.DaysHigh);
                $("#dayslow").text(quote.DaysLow);
                $("#yearshigh").text(quote.YearHigh);
                $("#yearslow").text(quote.YearLow);
                $("#volume").text(quote.Volume);
                $("#peratio").text(quote.PERatio);

            }
        });
    }
    getMarketData();
});
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "quotes/",
        success: function (data) {
            var FlotChart = function () {
                this.$body = $("body");
            };
            //creates Combine Chart
            FlotChart.prototype.createCombineGraph = function (selector, ticks, labels, datas) {
                var data = [{
                    label: labels[0],
                    data: datas[0],
                    lines: {
                        show: true
                    }
                },
                    {
                        label: labels[1],
                        data: datas[1],
                        lines: {
                            show: true
                        }
                    },
                    {
                        label: labels[2],
                        data: datas[2],
                        lines: {
                            show: true
                        }
                    }];
                var options = {
                    series: {
                        shadowSize: 0
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#98a6ad",
                        borderWidth: 1,
                        borderColor: "#58666e"
                    },
                    colors: ["#3bafda", "#f76397", "#00b19d"],
                    tooltip: true,
                    tooltipOpts: {
                        defaultTheme: false
                    },
                    legend: {
                        position: "ne",
                        margin: [0, -24],
                        noColumns: 0,
                        labelBoxBorderColor: null,
                        labelFormatter: function (label, series) {
                            // just add some space to labes
                            return '' + label + '&nbsp;&nbsp;';
                        },
                        width: 30,
                        height: 2
                    },
                    yaxis: {
                        tickColor: 'rgba(0,0,0,0.1)', //'#98a6ad',
                        font: {
                            color: '#bdbdbd'
                        }
                    },
                    xaxis: {
                        ticks: ticks,
                        tickColor: 'rgba(0,0,0,0.1)', //'#98a6ad',
                        font: {
                            color: '#bdbdbd'
                        }
                    }
                };

                $.plot($(selector), data, options);
            },

                //initializing various charts and components
                    FlotChart.prototype.init = function () {
                        var Nasdaq = data;
{#                                    var DJIA = [[0, 311], [1, 630], [2, 447], [3, 371], [4, 267], [5, 205], [6, 310], [7, 360], [8, 430], [9, 610], [10, 262], [11, 324], [12, 474], [13, 559], [14, 668], [15, 392], [16, 489], [17, 539], [18, 628], [19, 580], [20, 440], [21, 355], [22, 468], [23, 184]];#}
{#                                    var SP500 = [[23, 727], [22, 128], [21, 110], [20, 92], [19, 172], [18, 63], [17, 150], [16, 592], [15, 12], [14, 246], [13, 52], [12, 149], [11, 123], [10, 2], [9, 325], [8, 10], [7, 15], [6, 89], [5, 65], [4, 77], [3, 600], [2, 200], [1, 385], [0, 200]];#}
                        var ticks = [[0, "9:30"], [1, ""], [2, "10:00"], [3, ""], [4, "10:30"], [5, ""], [6, "11:00"], [7, ""], [8, "11:30"], [9, ""], [10, "12:00"], [11, ""], [12, "12:30"], [13, ""], [14, "13:00"], [15, ""], [16, "13:30"], [17, ""], [18, "14:00"], [19, ""], [20, "14:30"], [21, ""], [22, "15:00"], [23, ""], [24, "15:30"], [25, ""], [26, "16:00"]];
                        var combinelabels = ["Nasdaq", "DJIA", "S&P 500"];
                        var combinedatas = [Nasdaq];
                        this.createCombineGraph("#combine-chart #combine-chart-container", ticks, combinelabels, combinedatas);
                        //Combine graph data
                    },
                //init flotchart
                    $.FlotChart = new FlotChart, $.FlotChart.Constructor = FlotChart;


            $.FlotChart.init();

        }});
</script>
{% endblock %}

