{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ task.strategy.name }} - {{ task.symbol.name }} &nbsp;
    {% if task.is_active %}
    <span class="label label-success">Strategy Active</span>
    {% else %}
    <span class="label label-error">Strategy On Hold</span>
    {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0 m-b-30">Total Revenue</h4>

            <div class="widget-chart text-center">
                <div id="sparkline1"></div>
                <ul class="list-inline m-t-15">
                    <li>
                        <h5 class="text-muted m-t-20">Target</h5>
                        <h4 class="m-b-0">$1000</h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20">Last week</h5>
                        <h4 class="m-b-0">$523</h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20">Last Month</h5>
                        <h4 class="m-b-0">$965</h4>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <div class="col-lg-4">
        <div class="card-box">
            <h4 class="text-dark header-title m-t-0 m-b-30">股票信息(52 high之类的)</h4>

            <div class="widget-chart text-center">
                <ul class="list-inline m-t-15">
                    <li>
                        <h5 class="text-muted m-t-20">Target</h5>
                        <h4 class="m-b-0">$1000</h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20">Last week</h5>
                        <h4 class="m-b-0">$523</h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20">Last Month</h5>
                        <h4 class="m-b-0">$965</h4>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-8">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0">Log goes here</h4>
            <div class="table-responsive">
                <table class="table" id="vuetable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Log info</th>
                        <th>Log type</th>
                        <th>Log time</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td id="info1"></td>
                            <td id="type1"></td>
                            <td id="time1"></td>
                        </tr>
                         <tr>
                            <td>2</td>
                            <td id="info2"></td>
                            <td id="type2"></td>
                            <td id="time2"></td>
                        </tr>
                         <tr>
                            <td>3</td>
                            <td id="info3"></td>
                            <td id="type3"></td>
                            <td id="time3"></td>
                        </tr>
                         <tr>
                            <td>4</td>
                            <td id="info4"></td>
                            <td id="type4"></td>
                            <td id="time4"></td>
                        </tr>
                         <tr>
                            <td>5</td>
                            <td id="info5"></td>
                            <td id="type5"></td>
                            <td id="time5"></td>
                        </tr>
                         <tr>
                            <td>6</td>
                            <td id="info6"></td>
                            <td id="type6"></td>
                            <td id="time6"></td>
                        </tr>
                         <tr>
                            <td>7</td>
                            <td id="info7"></td>
                            <td id="type7"></td>
                            <td id="time7"></td>
                        </tr>
                         <tr>
                            <td>8</td>
                            <td id="info8"></td>
                            <td id="type8"></td>
                            <td id="time8"></td>
                        </tr>
                         <tr>
                            <td>9</td>
                            <td id="info9"></td>
                            <td id="type9"></td>
                            <td id="time9"></td>
                        </tr>
                         <tr>
                            <td>10</td>
                            <td id="info10"></td>
                            <td id="type10"></td>
                            <td id="time10"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -8 -->

    <div class="col-lg-4">
        <div class="card-box widget-user">
            <div>
                    <h4 class="m-t-0 m-b-5">Strategies Description</h4>
                    <p class="text-muted m-b-5 font-13">kdsahfkjadshfjkdasfhjdsfhdksjlfkjsda</p>
                    <small class="text-warning"><b>fdsf</b></small>
            </div>
        </div>
        <button id="updatelog">
            I update object 12345
        </button>

    </div>

</div>

<!-- end row -->

{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
    function refresh(){
        function call_counter(){
            $.ajax({
                type: "GET",
                dataType: "json",
                url: 'updateinfo/',
                success: function (data) {
                    console.log(data);
                    for(var i=0; i<=10; i++){
                        $('#time'+i).text(data[i].log_time);
                        $('#info'+i).text(data[i].log_info.info);
                        $('#type'+i).append("<span class=\"label label-info\">" + data[i].log_type + "<\/span>");

                    }
                }
            });
        }
        var interval = setInterval(call_counter,5000);
        call_counter();
    }
    $("#updatelog").click(refresh);
})

</script>
{% endblock %}

