{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ task.symbol.name }}
{% endblock %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
            
            $(function refresh(){
            function call_counter() {
                
                $.get('updateinfo/', function (data) {
                    $("#show_strategy").text(data.logs)
                    alert(data.logs );

                });
            }
            var interval = setInterval(call_counter,5000);
            call_counter();
        });
</script>
<div class="row">
    <div class="col-lg-8">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0 m-b-30">Total Revenue</h4>

            <div class="widget-chart text-center">
                <div id="sparkline1"></div>
                <ul class="list-inline m-t-15">
                    <li>
                        <h5 class="text-muted m-t-20">Target</h5>
                        <h4 class="m-b-0">$1000</h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20">Last week</h5>
                        <h4 class="m-b-0">$523</h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20">Last Month</h5>
                        <h4 class="m-b-0">$965</h4>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <div class="col-lg-4">
        <div class="card-box">
            <h4 class="text-dark header-title m-t-0 m-b-30">股票信息(52 high之类的)</h4>

            <div class="widget-chart text-center">
                <ul class="list-inline m-t-15">
                    <li>
                        <h5 class="text-muted m-t-20">Target</h5>
                        <h4 class="m-b-0">$1000</h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20">Last week</h5>
                        <h4 class="m-b-0">$523</h4>
                    </li>
                    <li>
                        <h5 class="text-muted m-t-20">Last Month</h5>
                        <h4 class="m-b-0">$965</h4>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-8">
        <div class="card-box">
            <h4 class="text-dark  header-title m-t-0">Log goes here</h4>
            <p class="text-muted m-b-25 font-13">
                Your awesome text goes here.
            </p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Task Symbol</th>
                        <th>Task Strategy</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Assign</th>

                        <div id = 'show_strategy'> </div>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="/task/trade/{{ task.pk }}/">{{task.symbol}}</a></td>
                            <td >{{task.strategy}}</td>
                            
                            <td>01/01/2016</td>
                            <td>26/04/2016</td>
                            <td><span class="label label-info">Released</span></td>
                            <td>Coderthemes</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end col -8 -->

    <div class="col-lg-4">
        <div class="card-box widget-user">
            <div>
                    <h4 class="m-t-0 m-b-5">Strategies Description</h4>
                    <p class="text-muted m-b-5 font-13">kdsahfkjadshfjkdasfhjdsfhdksjlfkjsda</p>
                    <small class="text-warning"><b>fdsf</b></small>
            </div>
        </div>
        <button onclick="refresh();">
            I update object 12345
        </button>

    </div>

</div>

<!-- end row -->

{% endblock %}

